Please enter the following information for your ship.

<p>
  <%= f.label " mmsi" %><br />
  <%= f.text_field :serial_number %>
</p>

<p>
  <%= f.label "Lloyds Number" %><br />
  <%= f.text_field :request_key %>
</p>