To activate tracking of your GPS enabled cell phone, enter the Instamapper API key here. If you have a common name
for the phone, e.g. "Phone #5" you may optionally enter it here.

<p>
  <%= f.label "Name" %><br />
  <%= f.text_field :common_name %>
</p>

<p>
  <%= f.label "Instamapper API Key" %><br />
  <%= f.text_field :request_key %>
</p>