Please enter your Guardian Mobility Skytrack unit serial number (example: 0403A00010). If you have a common name
for the device, e.g. "Unit #5" you may optionally enter it here.

<p>
  <%= f.label "Name" %><br />
  <%= f.text_field :common_name, class: "form-control" %>
</p>

<p>
  <%= f.label "Serial number" %><br />
  <%= f.text_field :serial_number, class: "form-control" %>
</p>