Please enter the email address for your Faria VMS WatchDog unit. If you have a common name
for the device, e.g. "Unit #5" you may optionally enter it here.

<p>
  <%= f.label "Email Address" %><br />
  <%= f.text_field :serial_number %>
</p>

<p>
  <%= f.label "Name" %><br />
  <%= f.text_field :common_name %>
</p>