/* Global rules */


body
{
	color: #666666;
	font-family: calibri, helvetica, tahoma, trebuchet ms, geneva, arial sans-serif;
 	text-align: center; /* This centers the wrapper in IE5.5 */
}

a
{
	color: #494646;
	text-decoration: none;
	font-family: calibri, helvetica, tahoma, trebuchet ms, geneva, arial sans-serif;
  font-size: 1.2em;
}

a:hover
{
	color: #494646;
  text-decoration: underline;
}

.wrapper
{
	height: 100%;
}

/* Header rules */
.header
{
	width: 789px;
	height: 100px;
  background-image: url(/images/theme/masthead_logo.gif);
  background-repeat: no-repeat;
	margin: 0 auto;
	margin-left: auto;	
	margin-right: auto;
	/*text-align: left;*/
	position: relative;
    padding: 0 0 0 0
}


.accountinfo
{
  float: right;
  width: 501px;
  padding-top: 7px;
  text-align: right;
}

.accountuser, .accountpass
{
  font-style: italic;
  color: grey;
  display: inline;
  width: 108px;
}
.accountuser:focus, .accountpass:focus
{
  font-style: normal;
  color: black;
}
.signout
{
	float: left;
	width: 330px;
	padding-top: 7px;
	font-size: 0.8em;
	font-weight: bold;
	color: #000;
}

.signout a
{
	text-decoration: underline;
	font-size: 0.9em;
	font-weight: bold;
	color: #000;
}

.signout a:hover
{
	text-decoration:underline;
}
.signin
{
	float: right;
	width: 71px;
	padding-top: 7px;
}

.signinlink 
{ 
	float: right;
	display:block; 
	width:71px; 
	height:21px; 
	background:url(/images/theme/button_signin_off.gif) no-repeat 0 0; 
}

.signinlink:hover 
{ 
	background:url(/images/theme/button_signin_hover.gif) no-repeat 0 0; 
}

.subheader
{
	width: 100%;
	height: 34px;	
	background-image: url(/images/theme/nav_bar_tile_vert.gif);
	background-repeat: repeat-x;
	margin: 0 auto;
}

.topnav
{
	width: 798px;
	margin: 0 auto;
	text-align: left;
	position: relative;
    padding: 0 0 0 0;
}

.menu 
{
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff;
}

#forgot {
    margin: 2px;
}

.menu li 
{
	padding: 0;
	margin: 0;
	height: 34px;
	margin-right: 1em;
	list-style: none;
	background-repeat: no-repeat;
}

.menu li a, .menu li a:visited 
{
	display: block;
	text-decoration: none;
	text-indent: -99999px;
	height: 39px;
	background-repeat: no-repeat;
}

.index, .indexselected
{
	background-image: url(/images/theme/nav_home_hover.gif); 
	width: 88px;
}

.index a 
{
	background-image: url(/images/theme/nav_home_off.gif);
}

.indexselected
{
	background-image: url(/images/theme/nav_home_selected.gif);
	width: 88px;
}

.products, .productsselected
{
	background-image: url(/images/theme/nav_products_hover.gif); 
	width: 103px;
}

.products a 
{
	background-image: url(/images/theme/nav_products_off.gif);
}

.productsselected
{
	background-image: url(/images/theme/nav_products_selected.gif); 
	width: 103px;
}

.services, .servicesselected
{
	background-image: url(/images/theme/nav_services_hover.gif); 
	width: 103px;
}

.services a 
{
	background-image: url(/images/theme/nav_services_off.gif);
}

.servicesselected
{
	background-image: url(/images/theme/nav_services_selected.gif);
	width: 103px;
}

.about, .aboutselected
{
	background-image: url(/images/theme/nav_about_us_hover.gif); 
	width: 104px;
}

.about a 
{
	background-image: url(/images/theme/nav_about_us_off.gif);
}

.aboutselected
{
	background-image: url(/images/theme/nav_about_us_selected.gif); 
	width: 104px;
}

.contact
{
	background-image: url(/images/theme/nav_contact_us_hover.gif); 
	width: 109px;
}

.contact a 
{
	background-image: url(/images/theme/nav_contact_us_off.gif);
}

.contactselected
{
	background-image: url(/images/theme/nav_contact_us_selected.gif);
	width: 109px;
}

.map_div, .mapselected
{
	background-image: url(/images/theme/nav_map_hover.gif); 
	width: 109px;
}

.map_div a 
{
	background-image: url(/images/theme/nav_map_off.gif);
}

.mapselected
{
	background-image: url(/images/theme/nav_map_selected.gif);
	width: 109px;
}

.user, .userselected
{
	background-image: url(/images/theme/nav_user_managment_hover.gif); 
	width: 109px;
}

.user a 
{
	background-image: url(/images/theme/nav_user_managment_off.gif);
}

.userselected
{
	background-image: url(/images/theme/nav_user_managment_selected.gif); 
	width: 109px;
}

.help, .helpselected
{
	background-image: url(/images/theme/nav_help_hover.gif); 
	width: 109px;
}

.help a 
{
	background-image: url(/images/theme/nav_help_off.gif);
}

.helpselected
{
	background-image: url(/images/theme/nav_help_selected.gif);
	width: 109px;
}

ul.menu li a:hover 
{
	background: none;
}

.menu li 
{	
	float: left;
}

.watermarktextbox
{
	background-image: url(/images/theme/field_user_name.gif);
	background-repeat: no-repeat;
	border-style: hidden;
	height: 21px;
	width: 108px;
}

.watermarkpassword
{
	background-image: url(/images/theme/field_password.gif);
	background-repeat: no-repeat;
	border-style: hidden;
	height: 21px;
	width: 108px;
}

.normaltextbox
{
	height: 18px;
	width: 108px;
}


/* Content rules */
.content
{
	width: 789px;
	margin: 0 auto;
	text-align: left;
	position: relative;
    padding: 20px 0 0 0;
}

.homecontentheader
{
	height: 251px;
    background-image: url(/images/theme/hero_home.jpg);
    background-repeat: no-repeat;	
}

.contentheader
{
	height: 149px;	
}

.contentpressrelease
{
	position: absolute;
    padding: 190px 0 0 276px;
}

.contentdemo
{
	position: absolute;
    padding: 190px 0 0 531px;
}


.demolink 
{ 
	display: block; 
	width: 255px; 
	height: 61px; 
	background:url(/images/theme/button_live_demo_off.gif) no-repeat 0 0; 
}

.demolink:hover 
{ 
	background:url(/images/theme/button_live_demo_hover.gif) no-repeat 0 0; 
}

.presslink 
{ 
	display: block; 
	width: 255px; 
	height: 61px; 
	background:url(/images/theme/button_press_release_off.gif) no-repeat 0 0; 
}

.presslink:hover 
{ 
	background:url(/images/theme/button_press_release_hover.gif) no-repeat 0 0; 
}

.contentbody
{
	width: 789px;
	margin: 0 auto;
	text-align: left;
	position: relative;
    padding: 20px 0 0 0;
}

.contentbody a
{
	color: #0074c5; 
}

.contentbody h2
{
	text-align: center;
	color: #0074c5;
	font-weight: bold;	
	font-size: 1.2em;
	padding: 8px 0 10px 0;
}

.contentbody h3
{
	text-align: left;
	color: #0074c5;
	font-weight: bold;	
	font-size: 1.1em;
	padding: 0 0 4px 0;
}

.contentbody h4
{
	text-align: left;
	color: #0074c5;
	font-weight: bold;	
	font-size: 1.0em;
	padding: 0 0 2px 0;
}

.contentdivider
{
	height: 2px;
	color: #d9d4d4;
	background-color: #d9d4d4;
	width: 789px;
	font-size: 6px;
}

.threecolleft
{
	float: left;
	width: 190px;
	text-align: left;
}

.threecolmiddle
{
	float: left;
	width: 190px;
	text-align: left;
}

.threecolright
{
	float: left;
	width: 190px;
	text-align: left;
}

.threecolspacer
{
	float: left;
	width: 108px;
}

.twocolleft
{
	float: left;
	width: 500px;
}

.twocolright
{
	float: left;
	width: 252px;
}

.twocolspacer
{
	float: left;
	width: 34px;
}

.twocolindent
{
	width: 470px;
	padding: 20px 0 4px 10px;
}

.onecol
{
	width: 740px;
}

.oencolcenter
{
	padding: 20px 0 20px 138px;	 
}


.leftcol
{	
	float: left;
	width: 150px;
	height: 679px;
	background-color: #0e3e7c;
	color: #ffffff;
}

.maincol
{	
	float: left;
	margin: 0;
	padding: 0;
	width: 936px;
}

.testimonial
{
	background-color: #ececec;
	color: #464646;
	border: 1px solid #d9d4d4;
	padding: 15px 10px 10px 10px; 
	font-size: 1.2em;
	
}

.testimonialname
{
	padding: 0 0 0 30px; 
	text-align: right;
	color: #828282;
	font-weight: bold;
	font-size: .9em;
}


.sidenav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidenav li
{	
	margin: 0; 
	padding: 0;
	display: inline;
}

.sidenav li a
{
	display: block;
	margin: 0;
	padding:  5px 0 5px 15px;
	color: #ffffff;
	text-decoration: none;
}

.sidenav li a:hover 
{
	color: #ffffff;
	background-color: #0074c5;	
}

ul {
	list-style: circle;
}

li {
	margin: 10px 0 10px 10px;
}


/* Footer rules */
.bottomnav 
{
	font-weight: bold;
	text-align: center;
}

.bottomnav a 
{
	text-decoration: none;
}

.bottomnav a:hover 
{
}

.bottomnav li 
{
	display: inline;
}

.footer 
{
	width: 789px;
	margin: 0 auto;
	text-align: left;
	position: relative;
    padding: 22px 0 0 0;
	font-size: 0.8em;
}

.footerleft
{
	font-size: 0.8em;
	float: left;
}

footerleft.a 
{
	font-size: 0.8em;
}

.footerright 
{
	font-size: 0.9em;
	float: right;
	text-align: center;
}
/* Global rules */
*
{
    padding: 0;
    margin: 0;
}

a:hover
{
	color: #494646;
}

.wrapper
{
	height: 100%;
}

/* Header rules */
.header
{
	width: 789px;
	height: 100px;
    background-image: url(/images/theme/masthead_logo.gif);
    background-repeat: no-repeat;
	margin: 0 auto;
	margin-left: auto;	
	margin-right: auto;
	/*text-align: left;*/
	position: relative;
    padding: 0 0 0 0
}


.accountinfo
{
	float: right;
	width: 501px;
	padding-top: 7px;
    text-align: right;
}

.accountuser:focus, .accountpass:focus
{
    font-style: normal;
    color: black;
}
.signout
{
	float: left;
	width: 330px;
	padding-top: 7px;
	font-size: 0.8em;
	font-weight: bold;
	color: #000;
}

.signout a
{
	text-decoration: underline;
	font-size: 0.9em;
	font-weight: bold;
	color: #000;
}

.signout a:hover
{
	text-decoration:underline;
}
.signin
{
	float: right;
	width: 71px;
	padding-top: 7px;
}

.signinlink 
{ 
	float: right;
	display:block; 
	width:71px; 
	height:21px; 
	background:url(/images/theme/button_signin_off.gif) no-repeat 0 0; 
}

.signinlink:hover 
{ 
	background:url(/images/theme/button_signin_hover.gif) no-repeat 0 0; 
}

.subheader
{
	width: 100%;
	height: 34px;	
	background-image: url(/images/theme/nav_bar_tile_vert.gif);
	background-repeat: repeat-x;
	margin: 0 auto;
}

.topnav
{
	width: 798px;
	margin: 0 auto;
	text-align: left;
	position: relative;
    padding: 0 0 0 0;
}

.menu 
{
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff;
}

.menu li 
{
	padding: 0;
	margin: 0;
	height: 34px;
	margin-right: 1em;
	list-style: none;
	background-repeat: no-repeat;
}

.menu li a, .menu li a:visited 
{
	display: block;
	text-decoration: none;
	text-indent: -99999px;
	height: 39px;
	background-repeat: no-repeat;
}

.index, .indexselected
{
	background-image: url(/images/theme/nav_home_hover.gif); 
	width: 88px;
}

.index a 
{
	background-image: url(/images/theme/nav_home_off.gif);
}

.indexselected
{
	background-image: url(/images/theme/nav_home_selected.gif);
	width: 88px;
}

.products, .productsselected
{
	background-image: url(/images/theme/nav_products_hover.gif); 
	width: 103px;
}

.products a 
{
	background-image: url(/images/theme/nav_products_off.gif);
}

.productsselected
{
	background-image: url(/images/theme/nav_products_selected.gif); 
	width: 103px;
}

.services, .servicesselected
{
	background-image: url(/images/theme/nav_services_hover.gif); 
	width: 103px;
}

.services a 
{
	background-image: url(/images/theme/nav_services_off.gif);
}

.servicesselected
{
	background-image: url(/images/theme/nav_services_selected.gif);
	width: 103px;
}

.about, .aboutselected
{
	background-image: url(/images/theme/nav_about_us_hover.gif); 
	width: 104px;
}

.about a 
{
	background-image: url(/images/theme/nav_about_us_off.gif);
}

.aboutselected
{
	background-image: url(/images/theme/nav_about_us_selected.gif); 
	width: 104px;
}

.contact
{
	background-image: url(/images/theme/nav_contact_us_hover.gif); 
	width: 109px;
}

.contact a 
{
	background-image: url(/images/theme/nav_contact_us_off.gif);
}

.contactselected
{
	background-image: url(/images/theme/nav_contact_us_selected.gif);
	width: 109px;
}

.map_div, .mapselected
{
	background-image: url(/images/theme/nav_map_hover.gif); 
	width: 109px;
}

.map_div a 
{
	background-image: url(/images/theme/nav_map_off.gif);
}

.mapselected
{
	background-image: url(/images/theme/nav_map_selected.gif);
	width: 109px;
}

.user, .userselected
{
	background-image: url(/images/theme/nav_user_managment_hover.gif); 
	width: 109px;
}

.user a 
{
	background-image: url(/images/theme/nav_user_managment_off.gif);
}

.userselected
{
	background-image: url(/images/theme/nav_user_managment_selected.gif); 
	width: 109px;
}

.help, .helpselected
{
	background-image: url(/images/theme/nav_help_hover.gif); 
	width: 109px;
}

.help a 
{
	background-image: url(/images/theme/nav_help_off.gif);
}

.helpselected
{
	background-image: url(/images/theme/nav_help_selected.gif);
	width: 109px;
}

ul.menu li a:hover 
{
	background: none;
}

.menu li 
{	
	float: left;
}

.watermarktextbox
{
	background-image: url(/images/theme/field_user_name.gif);
	background-repeat: no-repeat;
	border-style: hidden;
	height: 21px;
	width: 108px;
}

.watermarkpassword
{
	background-image: url(/images/theme/field_password.gif);
	background-repeat: no-repeat;
	border-style: hidden;
	height: 21px;
	width: 108px;
}

.normaltextbox
{
	height: 18px;
	width: 108px;
}


/* Content rules */
.content
{
	width: 789px;
	margin: 0 auto;
	text-align: left;
	position: relative;
    padding: 20px 0 0 0;
}

.homecontentheader
{
	height: 251px;
    background-image: url(/images/theme/hero_home.jpg);
    background-repeat: no-repeat;	
}

.contentheader
{
	height: 149px;	
}

.contentpressrelease
{
	position: absolute;
    padding: 190px 0 0 276px;
}

.contentdemo
{
	position: absolute;
    padding: 190px 0 0 531px;
}


.demolink 
{ 
	display: block; 
	width: 255px; 
	height: 61px; 
	background:url(/images/theme/button_live_demo_off.gif) no-repeat 0 0; 
}

.demolink:hover 
{ 
	background:url(/images/theme/button_live_demo_hover.gif) no-repeat 0 0; 
}

.presslink 
{ 
	display: block; 
	width: 255px; 
	height: 61px; 
	background:url(/images/theme/button_press_release_off.gif) no-repeat 0 0; 
}

.presslink:hover 
{ 
	background:url(/images/theme/button_press_release_hover.gif) no-repeat 0 0; 
}

.contentbody
{
	width: 789px;
	margin: 0 auto;
	text-align: left;
	position: relative;
    padding: 20px 0 0 0;
}

.contentbody a
{
	color: #0074c5; 
}

.contentbody h2
{
	text-align: center;
	color: #0074c5;
	font-weight: bold;	
	font-size: 1.2em;
	padding: 8px 0 10px 0;
}

.contentbody h3
{
	text-align: left;
	color: #0074c5;
	font-weight: bold;	
	font-size: 1.1em;
	padding: 0 0 4px 0;
}

.contentbody h4
{
	text-align: left;
	color: #0074c5;
	font-weight: bold;	
	font-size: 1.0em;
	padding: 0 0 2px 0;
}

.contentdivider
{
	height: 2px;
	color: #d9d4d4;
	background-color: #d9d4d4;
	width: 789px;
	font-size: 6px;
}

.threecolleft
{
	float: left;
	width: 190px;
	text-align: left;
}

.threecolmiddle
{
	float: left;
	width: 190px;
	text-align: left;
}

.threecolright
{
	float: left;
	width: 190px;
	text-align: left;
}

.threecolspacer
{
	float: left;
	width: 108px;
}

.twocolleft
{
	float: left;
	width: 500px;
}

.twocolright
{
	float: left;
	width: 252px;
}

.twocolspacer
{
	float: left;
	width: 34px;
}

.twocolindent
{
	width: 470px;
	padding: 20px 0 4px 10px;
}

.onecol
{
	width: 740px;
}

.oencolcenter
{
	padding: 20px 0 20px 138px;	 
}


.leftcol
{	
	float: left;
	width: 150px;
	height: 679px;
	background-color: #0e3e7c;
	color: #ffffff;
}

.maincol
{	
	float: left;
	margin: 0;
	padding: 0;
	width: 936px;
}

.testimonial
{
	background-color: #ececec;
	color: #464646;
	border: 1px solid #d9d4d4;
	padding: 15px 10px 10px 10px; 
	font-size: 1.2em;
	
}

.testimonialname
{
	padding: 0 0 0 30px; 
	text-align: right;
	color: #828282;
	font-weight: bold;
	font-size: .9em;
}


.sidenav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidenav li
{	
	margin: 0; 
	padding: 0;
	display: inline;
}

.sidenav li a
{
	display: block;
	margin: 0;
	padding:  5px 0 5px 15px;
	color: #ffffff;
	text-decoration: none;
}

.sidenav li a:hover 
{
	color: #ffffff;
	background-color: #0074c5;	
}



/* Footer rules */
.bottomnav 
{
	font-weight: bold;
	text-align: center;
}

.bottomnav a 
{
	text-decoration: none;
}

.bottomnav a:hover 
{
}

.bottomnav li 
{
	display: inline;
}

.footer 
{
	width: 789px;
	margin: 0 auto;
	text-align: left;
	position: relative;
    padding: 22px 0 0 0;
	font-size: 0.8em;
}

.footerleft
{
	font-size: 0.8em;
	float: left;
}

footerleft.a 
{
	font-size: 0.8em;
}

.footerright 
{
	font-size: 0.9em;
	float: right;
	text-align: center;
}

.brclear 
{
	clear:both;
	height:0;
	margin:0;
	font-size: 1px;
	line-height: 0;
}
