<div style="margin: 4px 2px 0 0; float:left;">
Lat<br/>
Lng
</div>

<%= text_area_tag 'pinpoint_data', nil, :id => "pinpoint_data", :style => "width:160px; height:30px;	border: 1px solid #cccccc; font-size:0.9em;" %>

<br class="brclear" />
<a data-role="pinpoint_data">Copy to clipboard</a>
<script type="text/javascript">

</script>