<% @staging_area_company = StagingAreaCompany.find_by_layer_id(layer) %>

<% options = "<option value='0'>Location</option>".html_safe %>
<% @staging_area_company.staging_areas.all.order('name DESC').select {|c| c.lat && c.lon}.each do |f| %>
    <% options.concat("<option value=#{f.id}>#{f.name[0..19]}</option>".html_safe) %>
<% end %>

<%= select_tag  "#{layer.name} areas", options, :id => "#{layer.name}_locate" %>

<% if !@staging_area_company.staging_area_asset_types.empty? %>

  <br />

  <% options = "<option value='-1'>Inventory</option>".html_safe %>
  <% options += "<option value='0'>-= Reset =-</option>".html_safe %>
  <% @staging_area_company.staging_area_asset_types.all.order('name DESC').each do |f| %>
      <% options.concat("<option value=#{f.id}>#{f.name[0..19]}</option>".html_safe) %>
  <% end %>

  <%= select_tag "#{layer.name} areas", options, :id=>"#{layer.name}_gear" %>
    <!--layer.name_gear.change(function(layer.layername.search_filter(value, 'staging_areas -->
<% end %>