<h1>Help</h1>
<hr/>
<strong>Compatibility Information</strong>
<p>
  Minimum Requirements
<ul>
  <li>Microsoft Internet Explorer 10+</li>
  <li>Windows 7, Mac OS X, Linux 2.x+</li>
  <li>Javascript: <strong>Enabled</strong></li>
</ul>
</p>
<p>
  For best performance
<ul>
  <li>Google Chrome 48+</li>
  <li>Firefox 43+</li>
  <li>Screen resolution > 1366px x 768px</li>
</ul>
</p>
<p>
  Unsupported Browsers
<ul>
  <li>Safari</li>
  <li>Opera</li>
</ul>
</p>
<strong>To report bugs and errors</strong>
<p>Click <a href="mailto:dmercurio92@gmail.com?subject=DedicatedMaps.com Bug Report">here</a> to file a bug report.</p>