			<div class="contentheader">
				<img src="/images/theme/hero_products.jpg"/>
			</div>
			<div class="contentbody">
				<div class="onecol">
					<h3>What we do</h3>
					<span class="contenttext">Dedicated Maps has developed a proprietary web based mapping platform for the Marine and Aviation Industries. This platform, called the Dedicated Mapping Platform (tm) allows marine and aviation clients to track assets, both static and mobile, in real-real time to make better, timelier decisions. <br/><br/> Our platform can be used by concurrently numerous clients, keeping data private or public, or shared with selected partners.
<br/><br/>
Our platform also can collect location data in real-time from, not only standard AIS (Marine Automated Information System) transmitters, but also a variety of satellite tracking devices from fishing fleet VMS (Vessel Monitoring System) units from the major manufactures to hand-held SPOT units to GPS enabled cell phones.
<br/><br/>
In addition to the industry standard overlays, we can develop custom business layers for individual clients, which can be private, public or shared with selected partners.
</span>
				</div>
				<br class="brclear" />
				<br/>
				<hr/>
				<br/>
				<div class="onecol">
					<h3>Who we are</h3>
					<span class="contenttext">Dedicated Maps is a software development company, located in Portland, Oregon, specializing in asset maintenance and tracking solutions. Our practice has developed around providing state-of-the-art technology in the Marine Services and Aviation Industries.</span>
				</div>
				<br class="brclear" />
				<br/>
				<hr/>
				<br/>
				<div class="onecol">
					<h3>Our vision</h3>
					<span class="contenttext">Dedicated Maps is committed to providing state-of-the-art, on-line mapping solutions that allow our clients to quickly define and deploy unique functionality which will allow them to take their business to a new level.</span>
				</div>
			</div>
