<div class="contentheader">
	<img src="/images/theme/hero_services.jpg"/>
</div>
<div class="contentbody">
	<div class="twocolright">
		<h3>How can we help?</h3>
		<span class="contenttext">920 SW 3rd Ave<br/>Portland, OR 97204<br/><br/>503-348-3984<br/>info@dedicatedmaps.com</span>
		<br/>
		<br/>
		<h3>Sales</h3>
		<span class="contenttext">503-347-3984<br/><a href="mailto:info@dedicatedmaps.com">info@dedicatedmaps.com</a></span>
		<br/>
		<br/>
		</div>
	<div class="twocolleft">
		<h3>To see a demo map, please login in above with the following credentials.</h3>
        username: my_demo<br />
        password: demo
       
	</div>
</div>