<div class="contentheader">
   
   Due to the advanced technology it uses, Dedicated Maps requires <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer 8</a> or newer.
   <br /><br />
   The latest versions of the following browsers are also supported:
   <br/><br/>
   <a href="http://www.firefox.com">Mozilla Firefox</a><br/>
   <a href="http://www.google.com/chrome/">Google Chrome</a><br/>
   <a href="http://www.opera.com">Opera</a>
   <br/><br/>
   If you are not able to upgrade, please <a href="mailto:info@dedicatedmaps.com">contact us</a> to learn about other options.
   
</div>