			<div class="homecontentheader">
				<div class="contentheaderbuttons">
					<div class="contentdemo">
						<a href="<%= Rails.env == 'production' ? 'http://demo.dedicatedmaps.com' : 'http://0.0.0.0:3000/maps/74' %>" class="demolink"></a>
					</div>
					<div class="contentpressrelease">
						<a href="/images/Dedicated_Maps_Press_Release.pdf" class="presslink"></a>
					</div>
				</div>
			</div>
			<div class="contentbody">
				<div class="threecolleft">
					<img src="/images/theme/home_content_ship.jpg" alt="Marine Services" />
					<h2>Marine Services</h2>
					<span  class="contenttext">The Dedicated Mapping Platform takes vessel tracking to the next level. In addition to traditional AIS tracking, Dedicated Maps can track using a variety of satellite and cell based tracking devices. Fishing Fleets with different VMS transmitters can now be seen on a single map. Unique customized data can be retrieved based on each clients needs.</span>
					<br /><a href="products" alt="">Learn more...</a>
				</div>
				<div class="threecolspacer">
					&nbsp;
				</div>
				<div class="threecolmiddle">
					<img src="/images/theme/home_content_fish.jpg" alt="Hazardous Materials" />
					<h2>Hazardous Materials</h2>
					<span  class="contenttext">When your job involves hazardous material, having tools to make fast accurate decisions is paramount. Knowing where the incident occurred, where your personnel and response equipment are, and how fast can they be deployed, can make the difference between a manageable incident and an expensive catastrophe. We have tools to help.</span>
					<br /><a href="products" alt="">Learn more...</a>
				</div>
				<div class="threecolspacer">
					&nbsp;
				</div>
				<div class="threecolright">
					<img src="/images/theme/home_content_airplane.jpg" alt="Aviation Services" />
					<h2>Aviation Services</h2>
					<span class="contenttext">The Dedicated Mapping Platform technology not only applies to Marine vessels, but also to aircraft with satellite tracking devices. We can display a flight plan, track progress, project an ETA and give the pilot, passengers and people on the ground a sense of well being during normal operations and especially in an emergency.</span>
		<br /><a href="products" alt="">Learn more...</a>
				</div>
			</div>
