<div class="contentheader">
    <img src="/images/theme/hero_products.jpg"/>
</div>
<div class="contentbody">
    <div class="twocolleft">
        <h3>Marine services</h3>
        <span>The dedicated Mapping Platform was developed specifically to address the needs of the Marine Industry. Our Clients identified a variety of needs that would make their operations more efficient:</span>
            
        <ul>
            <li>Tracking vessels with Satellite GPS devices from several manufactures.</li>
            <li>Protecting private information while allowing the Coast Guard and/or NOAA to be aware of their location and status.</li>
            <li>Sharing information with clients and vendors but not their competitors.</li>
        </ul>

        <span>We listened and developed the Dedicated Mapping Platform which allows clients to track their vessels using traditional AIS equipment as well as a variety of other tracking devices, VMS, Satellite GPS units, Portable GPS devices, or even cell phones, all on one web site.<br/><br/>
        The Dedicated Mapping Platform also allows clients to display custom data beyond the traditional position, speed and direction information; whether it be daily catch info, bill of lading, or passenger list.  
        Dedicated Map clients can declare their vessels to be private, public or shared only with select customers or clients.
        </span>

<div class="twocolindent">
	<h4>Commercial Ship Tracker</h4>
	<span class="contenttext">The Dedicated Mapping Platform allows Commercial Marine Business to overlay relevant information within our system, allowing fast accurate business decisions. From tracking vessels and other assets to determining accurate ETAs, Dedicated Maps can provide the real-time information needed for today's fast moving requirements.</span>
	<br/>
	<br/>

<h4>Fishing Fleet Tracker</h4>

<span class="contenttext">The Dedicated Mapping Platform allows fishing fleets to operate safely and within the NOAA requirements. 

Fishing Vessels equipped with any one of the VMS systems can be tracked on the map.

Restricted fishing areas are displayed and updated in real-time.

All data and locations are hidden from the public and competitors unless explicitly specifically defined as public. 

The vessels locations are visible to the Coast Guard and NOAA.

Ship information and location may be shared with customers of vendors if desired. All under the Vessel owners control.

</span>

    </div>
</div>

<!--
<div class="twocolspacer">
    &nbsp;
</div>

<div class="twocolright">
    <a href="demo.html"><img src="/images/theme/map_demo.png" /></a>
    <br/>
        <br/>
    <div class="testimonial">"Ship Tracker is the best fleet tracking solution we've found to date. Dedicated lives up to their name!"<div class="testimonialname">Bill Remington, XYZ Corp</div></div>
    </div>
</div>

<br class="brclear" />

<br/>

<hr />
-->

<div class="contentbody">
    <div class="twocolleft">
        <h3>Hazardous Materials</h3>
        <span class="contenttext">When your job is handling and responding to hazardous material incidents, having tools to make fast accurate decisions is paramount. Knowing where the incident occurred, where the response equipment is located and how fast can it be deployed can make the difference between an incident and a catastrophe.
<br /><br />

The Dedicated Mapping Platform allows Response Clients to track vessels, available equipment, Gepgraphic Response Plans, and incidents, all on a single interactive map. Data can be updated in real-time to reflect the real-time situation. </span>
    </div>
    <!--
    <div class="twocolspacer">
        &nbsp;
    </div>
    <div class="twocolright">
        <a href="demo.html"><img src="/images/theme/map_demo.png" /></a>
    </div>
    -->
</div>
