<div class="contentheader">
	<img src="/images/theme/hero_services.jpg"/>
</div>
<div class="contentbody">
	<div class="onecol">
		<h3>Our services</h3>
		<span class="contenttext">In addition to the Dedicated Mapping Platform product, we offer a service to define and develop custom overlays or custom vessel display information based on your unique requirements. For example, if you want to display an overlay showing your customers, vendors, facilities, or any other information, we can work with you to build that application. This overlay would only be visible on your site unless you wanted to share it with other partners.
<br/><br/>
In addition to custom overlays, we can add intelligence to the display, retrieving and presenting your information in a manner that works for you. For example, if you are a transport company, you can list the bill of lading, passenger list, cargo description or catch associated with the vessel. This information would be totally secure and only be visible to you and those who you give explicit permission.
<br/><br/>
In addition to custom mapping solutions, Dedicated Maps has extensive experience in tracking maintenance of assets. <br/><br/>
</span>
	</div>
	
	<div class="onecol">
		<h3>The technology</h3>
		<span class="contenttext">Dedicated Maps uses state-of-the-art technology to retrieve, analyze and present data.  Our platform used highly secure, but flexible database and user management methodology.  We know we are dealing with data that is precious to you and treat it that way. Our mapping technology used Google Maps to allow the greatest flexibility in customization and presentation.</span>
	</div>
</div>
